@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

/* "Cinzel Decorative" */
 /* "IM Fell English" */
/* "IM Fell English SC" */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "IM Fell English";
}

a {
    text-decoration: none;
    color: #d3c5bc;
}

body {
    background:#090506;
    color: #d3c5bc;
}

ul {
    list-style: none;
}

.main-text {
    font-family: "Cinzel Decorative";
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.navbar ul {
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar .updates {
    display: flex;
    gap: 20px;
    align-items: center;
}

.buttons {
    font-family: "IM Fell English SC";
}

.status-main-text {
    font-family: "Cinzel Decorative";
}