@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

/* "Cinzel Decorative" */
 /* "IM Fell English" */
/* "IM Fell English SC" */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff3eb;
}

body {
    background:#090506;
    background-color: radial-gradient(circle at 80% 20%, #2a0808 0%, #080303 60%, #000000 100%);
    color: #fff3eb;
    font-family: "IM Fell English";
}

ul {
    list-style: none;
}

.hero {
    text-align: center;
    margin-top: 40px;
}

.main-text {
    font-family: "Cinzel Decorative";
    font-size: 9rem;
}

.navbar {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 60px;
}

.navbar ul {
    display:flex;
    gap:55px;
    align-items: center;
}

.navbar .updates {
    display: flex;
    gap: 20px;
    align-items: center;
}

.buttons {
    font-family: "IM Fell English SC";
}

.status-main-text {
    font-family: "Cinzel Decorative";
}

.grid-wrapper {
    display:grid;

    grid-template-columns: 
    350px
    1fr
    350px;
    
    margin-top: 40px;
    padding: 0 70px;
}

.left-grid {
    display: flex;
    flex-direction: column;

    gap: 80px;
}

